$font-white: #ffffff;
$font-black: #000000;
$font-aqua: #099d8d;
$aqua: aqua;
$blue-green: #099d8d;
$font-grey: #54585a;
$font-placeholder: #b8b8b9;
$font-titles: 'Rubik', sans-serif;
$font-text: 'Open Sans', sans-serif;
