.contact {
  padding: 30px 15px 60px;
  @media (min-width: 768px) {
    padding: 45px 160px 60px 160px;
  }
  @media (min-width: 1200px) {
    padding: 45px 300px 120px 300px;
  }
}
.tittle-contact {
  font-size: 24px;
  line-height: 45px;
  color: $blue-green;
  font-family: $font-titles;
  text-align: center;
}
.p-main {
  font-size: 16px;
  line-height: 24px;
  color: $font-grey;
  font-family: $font-text;
  margin: 15px 0;
  text-align: center;
}
p {
  font-size: 12px;
  line-height: 24px;
  color: $font-grey;
  font-family: $font-text;
  margin: 30px 0 60px 0px;
  text-align: center;
}
span {
  color: $aqua;
  font-size: 14px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
label {
  font-size: 14px;
  color: $font-grey;
  font-family: $font-text;
  display: block;
}
::placeholder {
  font-size: 14px;
  color: $font-placeholder;
  font-family: $font-text;
}
input {
  border: 1px solid $font-placeholder;
  width: 100%;
  height: 45px;
  display: block;
  margin-top: 7px;
}
.inputs-desktop {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 10%;
  }
}
.email {
  @media (min-width: 1200px) {
    width: 60%;
  }
}
.telephone {
  @media (min-width: 1200px) {
    width: 30%;
  }
}
textarea {
  border: 1px solid $font-placeholder;
  display: block;
  margin-top: 7px;
  padding-top: 10px;
  width: 100%;
}
.send-button {
  background-color: $blue-green;
  color: $font-white;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  @media (min-width: 768px) {
    width: 40%;
    align-self: end;
    margin-top: 30px;
  }
}
