
.quienes-somos h2 {
    font-family: $font-titles;
    font-size: 28px;
    font-weight: 400;
    color: $blue-green;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .quienes-somos {
    margin-top: 30px;
    width: 100%;
    scroll-margin-top: 110px;

    @media (min-width: 768px) {
      scroll-margin-top: 80px;
    }
  }
  
  .img-tarjeta {
    border-radius: 4px;
    border: solid 5px #c7c7c7;
  }
  
  .tarjeta h3,
  .tarjeta-right h3 {
    font-size: 25px;
    font-weight: 300;
    color: #000000;
    margin: 20px 0px;
      @media (min-width: 768px) {
        margin: 0;
        text-align: left;
      }
  }
  
  .tarjeta p,
  .tarjeta-right p {
    font-size: 18px;
    font-weight: 300;
    color: #54585a;
    line-height: 1.5;
    width: 80%;
    margin: 0 auto 20px auto;
      @media (min-width: 768px) {
        width: 95%;
        margin: 0;
        padding-top: 10px;
        text-align: left;
      }
  }
  
  .rrss {
    margin-bottom: 45px;

    @media (min-width: 768px) {
      padding-top: 15px;
      text-align: left;
      display: flex;
      justify-content: flex-start;
    }
  }
  .rrss ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
  }
  
  .rrss ul li a i {
    color: $blue-green;
  }
  
  .filigrana::after {
    content: "   ·";
    color: $blue-green;
  }


  @media (min-width: 768px){

    .info-chica {
      text-align: left;
      padding-left: 45px;
    }
  
    .info-chica-right {
      text-align: left;
      padding-left: 0px;
    }
  
    .tarjeta-right {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  @media (min-width: 768px) {
    .tarjeta {
      display: flex;
    }
    .tarjeta-right p {
      margin: 0;
    }
    
  }
