.principal-column {
  text-align: center;
  margin: 0px 30px;
  
  @media (min-width: 1200px) {
    text-align: center;
    margin: 0px 138px;
  }
}
#tittle {
  width: 100%;
  margin: 0 auto;
  font-family: $font-titles;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #099d8d;
}

#lorem {
  width: 100%;
  margin: 15px 0 0;
  font-family: $font-text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  @media (min-width: 1200px) {
    font-size: 16px;
    margin: 15px 0 0;
    opacity: 0.67;
  }
}
.main-section {
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
  background-color: rgb(255, 255, 255, 1);
  margin: auto;
  width: 90%;
  height: 80px;
  padding: 15px;
  @media (min-width: 768px) {
    width: 65%;
    margin-left: 5%;
    background-color: rgb(255, 255, 255, 0.8);
    transform: translateY(-77px);
  }
  @media (min-width: 1243px) {
    padding-top: 25px;
  }
}

.main-section p {
  font-family: $font-text;
  font-size: 18px;
  color: $font-black;
  font-weight: strong;
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
  }
}
#tittle {
  font-family: $font-titles;
  font-size: 24px;
  color: #14d9c4;
}

.equipo {
  scroll-margin-top: 110px;

  @media (min-width: 768px) {
    scroll-margin-top: 80px;
  }
}