.rombo {
  width: 30px;
  height: 30px;
  background-color: white;
  margin: auto;
  display: block;
  transform: translateY(50%) rotate(-45deg);
  z-index: 2;
}
.fortalezas-debilidades {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(184, 184, 185, 0.3);
  @media (min-width: 768px) and (max-width: 1200px) {
    width: 100%;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: 1200px) {
    height: 333px;
    padding: 45px 150px 60px 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.fortalezas h2,
.debilidades h2 {
  padding: 10px 0px;
  margin-bottom: 15px;
  font-size: 22px;
  font-family: $font-titles;
  height: 45px;
  color: $blue-green;
  text-align: center;
}
.fortalezas h2 {
  @media (min-width: 768px) {
    padding-right: 50px;
  }
}
.fortalezas,
.debilidades {
  @media (min-width: 768px) {
    width: 50%;
  }
}
.debilidades {
  @media (min-width: 768px) {
    padding-left: 50px;
  }
}
.fortalezas-debilidades p {
  margin: 0px 30px;
  font-size: 16px;
  color: $font-grey;
  text-align: center;
  line-height: 30px;
  @media (min-width: 768px) and (max-width: 1200px) {
    margin: 0px;
    padding-bottom: 15px;
    text-align: start;
    padding-left: 40px;
  }
  @media (min-width: 1200px) {
    margin: 0px;
    padding-bottom: 60px;
    text-align: start;
    padding-left: 40px;
  }
}
