<footer class="footer">
  <div class="container-items-tablet-desktop">
    <span>Nombre del grupo ©2024</span>
    <figure class="logo-tablet-desktop">
      <img src="/images/logo-adalab.png" alt="logo-adalab" />
    </figure>
  </div>
  <ul>
    <li><a href="#equipo-id">EQUIPO</a></li>
    <li><a href="#quienes-somos-id">QUIÉNES SOMOS</a></li>
    <li><a href="#">CONTACTO</a></li>
  </ul>
  <figure class="logo-mobile">
    <img src="/images/logo-adalab.png" alt="logo-adalab" />
  </figure>
</footer>