<div class="contact">
  <h2 class="tittle-contact">CONTACTO</h2>
  <p class="p-main">
    Si tienes un proyecto en mente y te gusta lo que hacemos, no dudes en ponerte en contacto con
    nosotras, te atenderemos a la mayor brevedad posible.
  </p>
  <p class="p-main">Sólo tienes que rellenar este breve formulario:</p>
  <p>Todos los campos marcados con <span>*</span> son obligatorios.</p>
  <form action="">
    <label for="completed-name"
      >Nombre completo <span>*</span>
      <input type="text" id="completed-name" name="name" placeholder="   Nombre..." required />
    </label>
    <label for="email"
      >E-mail <span>*</span>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="   nombre.apellidos@mail.com"
        required
      />
    </label>
    <label for="telephone"
      >Teléfono
      <input type="tel" id="telephone" name="telephone" placeholder="   Ej:123456789" />
    </label>
    <label for="messaje"
      >Mensaje <span>*</span>
      <textarea
        name="messaje"
        id="messaje"
        placeholder="   ¿Qué necesitas?"
        cols="30"
        rows="5"
      ></textarea>
    </label>
    <input class="send-button" type="sumbit" value="ENVIAR" />
  </form>
</div>
