<div class="contact">
  <h2 class="contact__tittle">CONTACTO</h2>
  <p class="contact__p">
    Si tienes un proyecto en mente y te gusta lo que hacemos, no dudes en ponerte en contacto con
    nosotras, te atenderemos a la mayor brevedad posible.
  </p>
  <p class="contact__p">Sólo tienes que rellenar este breve formulario:</p>
  <p class="contact__warning">Todos los campos marcados con <span>*</span> son obligatorios.</p>
  <form action="https://formspree.io/f/xwkglblo" method="post">
    <label for="completed-name"
      >Nombre completo <span>*</span>
      <input type="text" id="completed-name" name="name" placeholder="Nombre..." required />
    </label>
    <div class="form__inputsdesktop">
      <label class="form__inputsdesktop--email" for="email"
        >E-mail <span>*</span>
        <input
          type="email"
          id="email"
          ^[@]{1}[.]{1}$
          name="email"
          placeholder="nombre.apellidos@mail.com"
          required
        />
      </label>
      <label class="form__inputsdesktop--telephone" for="telephone"
        >Teléfono
        <input
          type="tel"
          id="telephone"
          pattern="[0-9]{9}"
          name="telephone"
          placeholder="Ej:123456789"
        />
      </label>
    </div>
    <label for="messaje"
      >Mensaje <span>*</span>
      <textarea
        name="messaje"
        id="messaje"
        placeholder="¿Qué necesitas?"
        cols="30"
        rows="5"
        required
      ></textarea>
    </label>
    <button class="form__send-button" type="sumbit">ENVIAR</button>
  </form>
</div>
