<div class="rombo"></div>
<div class="fortalezas-debilidades">
    <div class="fortalezas">
        <h2>Fortalezas</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia corporis harum
            beatae deserunt, ipsa repellat atque fuga odit voluptates dolor exercitationem quaerat
            maxime quam facilis perspiciatis temporibus vero. Quibusdam.
        </p>
    </div>
    <div class="debilidades">
        <h2>Debilidades</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia corporis harum
            beatae deserunt, ipsa repellat atque fuga odit voluptates dolor exercitationem quaerat
            maxime quam facilis perspiciatis temporibus vero. Quibusdam.
        </p>
    </div>
</div>