<div class="rombo"></div>
<div class="fortalezas-debilidades">
  <div class="fortalezas">
    <h2>Fortalezas</h2>
    <p>
      🔹Creatividad a la hora de plantear soluciones. <br />
      🔹Resiliencia ante los imprevistos y bloqueos. <br />
      🔹Flexibilidad para adaptarnos al equipo. <br />
      🔹Resolutivas a la hora de afrontar problemas.
    </p>
  </div>
  <div class="debilidades">
    <h2>Debilidades</h2>
    <p>
      🔹Limitación en el uso de las herramientas. <br />
      🔹Recursos de ayuda limitados por falta de experiencia. <br />
      🔹Falta de aproximación desde la perspectiva UX/UI. <br />
      🔹Trayectoria profesional que limita la aproximación técnica.
    </p>
  </div>
</div>
