<div class="principal-column">
    <section id="quienes-somos-id" class="quienes-somos">
        <h2>QUIÉNES SOMOS</h2>
        <div class="tarjeta">
            <div class="foto-chica">
                <img class="img-tarjeta" src="/images/noe-abad.jpg" alt="Foto Noelia Abascal" />
            </div>
            <div class="info-chica">
                <h3>Noelia Abascal</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, sint. Animi fugiat
                    dolor nam, nulla in autem tenetur quia at non voluptas doloremque dicta officia
                    earum praesentium soluta delectus corporis.
                </p>
                <div class="rrss">
                    <ul>
                        <li class="filigrana">
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="filigrana">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                        <li class="filigrana">
                            <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tarjeta-right">
            <div class="foto-chica">
                <img class="img-tarjeta" src="/images/vicky-gonzalez.jpg" alt="Foto Victoria González" />
            </div>
            <div class="info-chica-right">
                <h3>Victoria Gonzalez</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, sint. Animi fugiat
                    dolor nam, nulla in autem tenetur quia at non voluptas doloremque dicta officia
                    earum praesentium soluta delectus corporis.
                </p>
                <div class="rrss">
                    <ul>
                        <li class="filigrana">
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="filigrana">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                        <li class="filigrana">
                            <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="foto-chica">
                <img class="img-tarjeta" src="/images/maria-lopez.jpg" alt="Foto María López" />
            </div>
            <div>
                <div class="info-chica">
                    <h3>María López</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, sint. Animi
                        fugiat dolor nam, nulla in autem tenetur quia at non voluptas doloremque dicta
                        officia earum praesentium soluta delectus corporis.
                    </p>
                    <div class="rrss">
                        <ul>
                            <li class="filigrana">
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li class="filigrana">
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                            <li class="filigrana">
                                <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa-solid fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tarjeta-right">
            <div class="foto-chica">
                <img class="img-tarjeta" src="/images/noe-ariza.jpg" alt="Foto Noelia Ariza" />
            </div>
            <div class="info-chica-right">
                <h3>Noelia Ariza</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, sint. Animi fugiat
                    dolor nam, nulla in autem tenetur quia at non voluptas doloremque dicta officia
                    earum praesentium soluta delectus corporis.
                </p>
                <div class="rrss">
                    <ul>
                        <li class="filigrana">
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="filigrana">
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                        <li class="filigrana">
                            <a href="#"><i class="fa-brands fa-github-alt"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>