<section class="main-section">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
</section>

<div class="principal-column">
    <section class="equipo">
        <h2 id="tittle">EQUIPO</h2>
        <p id="lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia corporis harum
            beatae deserunt,orem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia
            corporis harum beatae deserunorem ipsum dolor sit amet consectetur adipisicing elit.
            Aperiam officia corporis harum beatae deserun ipsa repellat atque fuga odit voluptates
            dolor exercitationem quaerat maxime quam facilis perspiciatis temporibus vero. Quibusdam
            <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officia corporis harum
            beatae deserunt, ipsa repellat atque fuga odit voluptates dolor exercitationem quaerat
            maxime quam facilis perspiciatis temporibus vero. Quibusdam.
        </p>
    </section>
</div>