<section class="main-section">
  <p>
    "El mejor proyecto es aquel que se hace en equipo. Encuentra la idea creativa y desarróllala".
  </p>
</section>

<div class="principal-column">
  <section class="equipo" id="equipo-id">
    <h2 id="tittle">EQUIPO</h2>
    <p id="lorem">
      ¡Hola! Somos un equipo dinámico compuesto por mujeres apasionadas por el mundo de la
      programación que buscan un nuevo rumbo profesional.
      <br />
      Os presentamos nuestra primera creación conjunta: una página web donde podréis conocer a fondo
      todo lo que podemos ofreceros. ¡Bienvenides!
    </p>
  </section>
</div>
