<div class="principal-column">
  <section id="quienes-somos-id" class="quienes-somos">
    <h2>QUIÉNES SOMOS</h2>
    <div class="tarjeta">
      <div class="foto-chica">
        <img class="img-tarjeta" src="/images/noe-abad.jpg" alt="Foto Noelia Abascal" />
      </div>
      <div class="info-chica">
        <h3>Noelia Abascal</h3>
        <p>
          👋Vengo de Santander y, tras más de 20 años especializada en la
          atención al cliente, he decidido dar un giro a mi vida a través del
          mundo de la Programación Web, inspirada por la creatividad de este
          mundo. Soy madre de dos hijos adolescentes, así que el cambio y la
          rapidez son parte del ADN que traigo a esta nueva etapa profesional.
        </p>
        <div class="rrss">
          <ul>
            <li class="filigrana">
              <a href="https://www.instagram.com/nabascalc/#" target="_blank"><i
                  class="fa-brands fa-square-instagram"></i></a>
            </li>
            <li class="filigrana">
              <a href="https://www.linkedin.com/in/noelia-abascal-cabrera-2319a92aa/" target="_blank"><i
                  class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li class="filigrana">
              <a href="https://github.com/elialcodes" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
            </li>
            <li>
              <a href="mailto:abascalcabreran@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tarjeta-right">
      <div class="foto-chica">
        <img class="img-tarjeta" src="/images/vicky-gonzalez.jpg" alt="Foto Victoria González" />
      </div>
      <div class="info-chica-right">
        <h3>Victoria Gonzalez</h3>
        <p>
          👋Con mi corazón entre Venezuela y Madrid, he decidido dar un cambio a
          mi vida adentrándome en el universo de la Programación Web. Traigo
          todo el aprendizaje de mis estudios en Diseño Gráfico mezclados con
          una gran cantidad de entusiasmo para terminar de dar el empujón que
          busco en esta nueva etapa.
        </p>
        <div class="rrss">
          <ul>
            <li class="filigrana">
              <a href="https://twitter.com/victoriaggz_" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="filigrana">
              <a href="https://www.instagram.com/victoriagz_/" target="_blank"><i
                  class="fa-brands fa-square-instagram"></i></a>
            </li>
            <li class="filigrana">
              <a href="https://github.com/victoriagz" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
            </li>
            <li>
              <a href="mailto:victoriagabrielagonzalez123@hotmail.com"><i class="fa-solid fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tarjeta">
      <div class="foto-chica">
        <img class="img-tarjeta" src="/images/maria-lopez.jpg" alt="Foto María López" />
      </div>
      <div>
        <div class="info-chica">
          <h3>María López</h3>
          <p>
            👋¡Hola desde Cuenca! Tras mi experiencia como Trabajadora Social en
            el ámbito de la Discapacidad y unos pequeños pasos por el mundo del
            Diseño Gráfico, he decidido comenzar esta nueva aventura en el mundo
            de la Programación Web. Mi objetivo es asentar las bases necesarias
            para especializarme en el ámbito de la Accesibilidad.
          </p>
          <div class="rrss">
            <ul>
              <li class="filigrana">
                <a href="https://twitter.com/_emedenada" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li class="filigrana">
                <a href="https://www.linkedin.com/in/mar%C3%ADa-l%C3%B3pez-herr%C3%A1iz-2a7118104" target="_blank"><i
                    class="fa-brands fa-linkedin-in"></i></a>
              </li>
              <li class="filigrana">
                <a href="https://github.com/mloherr" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
              </li>
              <li>
                <a href="mailto:herraizmaria08@gmail.com"><i class="fa-solid fa-envelope"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tarjeta-right">
      <div class="foto-chica">
        <img class="img-tarjeta" src="/images/noe-ariza.jpg" alt="Foto Noelia Ariza" />
      </div>
      <div class="info-chica-right">
        <h3>Noelia Ariza</h3>
        <p>
          👋¡Saludos desde Barcelona! Mi experiencia como freelance en el ámbito
          de la publicidad me ha convertido en una auténtica todoterreno. Aunque
          manejo HTML, CSS y jQuery, he decido especializarme de forma más
          específica en el ámbito del Frontend, ya que siempre me ha fascinado
          la creación de interacciones, y el contacto entre cliente y web.
        </p>
        <div class="rrss">
          <ul>
            <li class="filigrana">
              <a href="https://twitter.com/noeliaariza" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </li>
            <li class="filigrana">
              <a href="https://www.linkedin.com/in/noeliaariza/" target="_blank"><i
                  class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li class="filigrana">
              <a href="https://github.com/noeliaaariza" target="_blank"><i class="fa-brands fa-github-alt"></i></a>
            </li>
            <li>
              <a href="mailto:noelia.ariza@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>