:root {
  --font-white: #ffffff;
  --font-black: #000000;
  --aqua: aqua;
  --font-grey: #54585a;
  --font-titles: "Rubik", sans-serif;
  --font-text: "Open Sans", sans-serif;
}

body {
  font-family: var(--font-text);
}

/*
font-family: --font-titles;
font-family: --font-text;
*/

/*=======================*/
/*=======================*/
/*=======HEADER==========*/
/*=======================*/
/*=======================*/

.hero {
  width: 100%;
}

.gato {
  width: 100%;
}

.nav-menu {
  width: 100%;
  position: fixed;
  z-index: 30;
}

h1 {
  padding: 15px 80px;
  background-color: rgb(9, 157, 141, 0.8);
  font-family: var(--font-titles);
  font-size: 16px;
  color: var(--font-white);
  text-align: center;
}

.menu {
  width: 100%;
  padding: 8px 0;
  display: flex;
  background-color: rgb(20, 217, 196, 0.8);
  justify-content: space-around;
  font-family: var(--font-titles);
  font-size: 16px;
  color: var(--font-white);
}

a {
  color: var(--font-white);
}

a:hover {
  color: #099d8d;
}

a:active {
  color: var(--font-white);
}

/*=======================*/
/*=======================*/
/*=========MAIN==========*/
/*=======================*/
/*=======================*/

.principal-column {
  text-align: center;
  margin: 0px 30px;
}

.main-section {
  font-weight: 900;
  font-family: var(--font-text);
  font-size: 18px;
  transform: translateY(-40px);
  margin: 0 auto;
  padding: 14px 15px 16px 15px;
  background-color: white;
  width: 90%;
}

/*=======================*/
/*=======================*/
/*========FOOTER=========*/
/*=======================*/
/*=======================*/

footer {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: var(--font-grey) groove 1px;
}

.container-items-tablet-desktop {
  /*He llamado a los distintos elementos en diferentes líneas de código porque cada uno tenía un margen superior e inferior diferente*/
  margin: 30px 74px 10px 74px;
  color: #b8b8b9;
}

.footer ul {
  margin: 10px 103px 15px 103px;
}

.footer a {
  color: var(
    --font-grey
  ); /*Falta añadir estilos de open sans para hacer semibold!!!*/
  line-height: 20px;
}

.footer figure {
  margin: 15px 103px 45px 103px;
}

.footer img {
  width: 115.9px; /*He puesto un tamaño fijo porque en todas las versiones mantiene un tamaño de 115.9px el logo, si preferís que lo hagamos más responsive y lo agrandemos porcentualmente al figure, lo cambiamos sin problema!*/
}

.logo-tablet-desktop {
  display: none;
}
/*=======================*/
/*=======================*/
/*====MEDIA QUERIES======*/
/*=======================*/
/*=======================*/

@media (min-width: 768px) and (max-width: 1200px) {
  .nav-menu {
    display: flex;
    background-color: rgb(9, 157, 141);
    justify-content: space-between;
  }
  .menu {
    background-color: rgb(9, 157, 141);
    /* display: flex;
    justify-content: space-between; */
    width: 50%;
    align-items: center;
  }
  h1 {
    padding: 15px 0 15px 45px;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer ul {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    margin: 0;
    padding-right: 45px;
  }

  .container-items-tablet-desktop {
    width: 50%;
    margin: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 45px;
  }

  .logo-mobile {
    display: none;
  }

  .logo-tablet-desktop {
    display: block;
    margin: 0;
  }

  .footer figure {
    margin: 0;
  }
}

@media (min-width: 1200px) {
}
